.card-body {
  padding: 1.5rem 0 0 0;
}

.card-title {
  border-left: 3px solid $primary-color;
  font-size: 1.25rem;
  padding-left: 0.75rem;
}

.card-list {
  list-style-type: square;
  list-style-position: inside;
}
