label {
  margin-bottom: 0.25rem;
}

textarea {
  height: 200px;
  resize: none;
}

select.form-control:not([size]):not([multiple]) {
  height: 39px;
}

.form-control {
  font-size: 0.875rem;
  line-height: 1.5;
}

.error {
  border-color: $red;
  color: $red;
  margin: 0.35rem 0 0 0;
}

.form-inline {
  justify-content: space-between;

  .form-control {
    display: inline-block;
    margin-bottom: 1rem;
    width: calc(50% - 0.5rem);
    @include bp-lg {
      flex: 1;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }

  .btn {
    width: 100%;
    @include bp-lg {
      flex: 1;
    }
  }

  .error {
    margin: 0 1rem 0 0;
  }

  label.error {
    display: none !important;
    margin: 0;
  }
}

#contact-success {
  display: none;
}
