/* Jumbotron */
.jumbotron {
  background-color: $white;
  background-image: url('../img/palm-trees-sm.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: $white;
  text-align: center;
  height: 200px;
  margin-bottom: 0;
  padding: 0;
  @include bp-md {
    background-image: url('../img/palm-trees-md.jpg');
    height: 250px;
  }
  @include bp-lg {
    background-image: url('../img/palm-trees-lg.jpg');
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    background-color: $white;
    color: $primary-color;
    font-size: 1.75rem;
    margin-bottom: 0;
    padding: 1rem;
    @include bp-sm {
      font-size: 2.5rem;
      padding: 1.25rem 1.5rem;
    }
    @include bp-md {
      font-size: 3rem;
      padding: 1.25rem 2rem;
    }
    @include bp-lg {
      font-size: 3.5rem;
    }
  }
}

.jumbotron-home {
  background-position: center;
  height: calc(100vh - 63px);
  @include bp-lg {
    height: calc(100vh - 66px);
  }
}
