/* Base */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: $font-semi-bold;
  letter-spacing: 1px;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  transition: color 0.2s ease;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.25rem;
  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}
